.playAreaSquare {
    -fx-background-color: black;
    -fx-stroke: red;
    -fx-stroke-width: 5;
}

.playAreaSquare:hover {
    -fx-fill: gray;
}

.playerMoves {
    -fx-font-size: 120;
    -fx-text-fill: blue;
}