.playAreaSquare {
    -fx-background-color: #2a1616;
    -fx-stroke: red;
    -fx-stroke-width: 5;
}

.playAreaSquare:hover {
    -fx-fill: gray;
}

.playerMoves {
    -fx-font-size: 120;
    -fx-text-fill: blue;
}

#infoBox {
    -fx-background-color: #6c6262;
    -fx-font-size: 25;
}